
<div class="container">
    <div class="logos">
        <img src="img/springboot.png"/><span class="glyphicon glyphicon-plus"></span><img src="img/velocity.png"/>
    </div>

    <h1>Spring Boot Velocity Example Project</h1>

    <p class="lead">From application: $time</p>

    <p>Message: $message</p>
</div>
